/* body{
    background-color: purple;
} */

header.masthead{
    text-align: center;
    color: white;
    background-image: url('/images/chem-bg1.PNG');
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center;
    background-size: cover;
    width: 100vw;
    height: 50vh;
    margin-bottom: 10px;
  }
